body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}

#top-banner{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
}

.half-width img{
    width: 80%;
}
.sohail{
    color: orangered;
}

.link-button{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 8px 40px;
}

#dream-big{
    display: flex;
    margin-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*Experiences*/

h2{
    font-size: 30px;
}
h4{
    color: orangered;
}

#experiences{
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experiences h1{
    margin-left: 60px;
}

.experience-dev{
    display: flex;
}

.experience-item{
    box-shadow: 10px 10px 10px gray;
    padding: 20px;
    border-radius: 5px;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.footer{
    text-align: center;
}